---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="About">
    <h2>Hi, I'm Albert.</h2>
    <p>I am an enthusiastic and highly motivated undergraduate student working towards a B.S. and M.S. Computer Science. I am interested in the application of Computer Science within bioinformatics and machine learning, especially in the procurement of accelerated bioinformatics solutions utilizing machine learning and modeling. Also, I am eager to learn more about the technology and problem solving within computational sciences, especially in regard to manipulating and analyzing data efficiently and accurately. Please reach out for any opportunities or internships, I would love to get in touch.</p>
</BaseLayout>